header h1{
    padding: 10px 50px;
};

input[type="search"] {
    margin-bottom: 10px;
    border: 3px solid #ccc;
    background-color: #f2f2f2;
  }  
#btn1{
    margin-left: 60%;
}

.boxes {
  margin-top: 20px;
}

.verify {
  margin-top: 20px;
}

.submit {
  margin-top:20px;
  float: right;
}

.pagecheckout {
  padding: 20px 50px;
}

.description {
  font-size: 150%;
  margin-top:50px;
}